{% url 'category-detail-view' article.category.name as category_url %}
{#{% url 'article-detail-view' article.id as article_url %}#}
{#{% set article_url = 'article/?id={{ article.id }}' %}#}

<div class="home-post well clearfix">
    <div class="post-title underline clearfix">
        <a href="{{category_url}}">
            <div class="pre-cat">
                <div class="pre-catinner btn">
                    {{article.category}}
                </div>
                <div class="pre-catarrow">
                </div>
            </div>
        </a>
        <h4>
            <a href='article/detail/?id={{ article.id }}'>{{article.title}}</a>
        </h4>
        <div class="post-info">
            <span>
                <span class="glyphicon glyphicon-calendar"></span>
                {{article.pub_time|date:"Y-m-d" }}
            </span>
            <span>
                <span class="glyphicon glyphicon-comment"></span>
                {{article.comment_set.all | length}}
            </span>
            <span>
                <span class="glyphicon glyphicon-eye-open"></span>
                {{article.view_times}}
            </span>
            <div class="post-tags">
                {% for tag in article.tags.all%}
                <a href="#" class="{%if forloop.counter0%}hidden-xs{%endif%} ">
                    <span class="label label-vmaig-{{forloop.counter}} btn">{{tag}}</span>
                </a>
                {% endfor %}
                <a class="visible-xs-inline-block">
                    <span class="label label-vmaig-2 btn ">...</span>
                </a>
 
            </div>

        </div>
    </div>
    <div class="post-content">
        <div class="row">
            <div class="col-sm-2">
                <figure class="thumbnail" style="margin-bottom: -5%; border: none">
                    <a href="article/detail/?id={{ article.id }}">
                        <img src="{{article.img}}"  height="300" alt="">
                    </a>
                </figure>
            </div>
            <div class="col-sm-10">
                <p>
                {% autoescape off%}
                {{article.summary|slice:"130" }}
                {% endautoescape %}
                {% if article.summary|length > 120 %}
                    ...
                {% endif %}
                </p>
                <a type="button" class="btn btn-info pull-right hidden-xs" style="margin-top: -3%" href="article/detail/?id={{ article.id }}">阅读全文</a>

            </div>
        </div>
    </div>
</div>
